<!doctype html>
<html ng-app="app">
<head>
  <title>Comments</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script src="//cdn.steemjs.com/lib/latest/steemconnect.min.js"></script>
  <script src="//cdn.steemjs.com/lib/latest/steem.min.js"></script>
  <script src="app.js"></script>
</head>

<body>

<div class="container my-1" ng-controller="Main as main" style="max-width: 600px;">

  <div class="input-group input-group-lg mt-1">
    Comment the post <b>@{{parentAuthor}}/{{parentPermlink}}</b>
    <span class="float-md-right">
      <b ng-show="main.isAuth()"><img src="//img.steemconnect.com/@{{username}}" width="20" height="20"> @{{username}}</b>
      <a ng-show="main.isAuth()" class="btn btn-secondary" href="https://dev.steemconnect.com/logout">Log Out</a>
      <a class="btn btn-primary" ng-href="{{loginURL}}" ng-hide="main.isAuth()">Log In</a>
    </span>
  </div>

  <ul class="list-group my-1" ng-init="main.loadComments()">
    <li class="list-group-item" ng-repeat="comment in comments"><b>@{{comment.author}}:</b> {{comment.body}}</li>
  </ul>

  <form ng-show="main.isAuth()" ng-submit="main.submit()">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Write a comment here" ng-model="comment">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Submit</button>
      </span>
    </div>
  </form>

</div>

</body>
</html>